<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Data Visual App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="sidebar">
    <a href="{{ url_for('new_project') }}">🏠 Novo Projeto</a>
    <a href="{{ url_for('dashboard') }}">📊 Dashboard</a>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
