{% extends "base.html" %}

{% block title %}Definir Colunas{% endblock %}

{% block content %}
<h2>Definição de tipos de coluna</h2>

<form method="POST">
    {% for col in columns %}
        <div class="mb-3">
            <label class="form-label">{{ col }}</label>
            <select name="{{ col }}" class="form-select">
                <option value="">-- selecione --</option>
                <option value="category">Categoria</option>
                <option value="number">Número</option>
                <option value="date">Data</option>
            </select>
        </div>
    {% endfor %}

    <button class="btn btn-success">Continuar</button>
</form>
{% endblock %}

