<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Flask App{% endblock %}</title>
    {{ bootstrap.load_css() }}
    <!-- Bootstrap-Flask automatically loads CSS here -->
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img
            src="{{ url_for('static', filename='assets/analise-de-dados.png') }}"
            width="30"
            height="30"
            alt="Logo"> 
        </a>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Child page content will go here -->
        <div class="d-inline-flex p-2">I'm an inline flexbox container!</div>
        {% endblock %}
    </div>
    <h2>teste</h2>
    <!-- Bootstrap-Flask automatically loads JS here -->
    {{ bootstrap.load_js() }}
</body>
</html>
